@charset "utf-8";
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ html defalut ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(http://fonts.googleapis.com/css?family=Saira+Condensed); /*font-family:'Saira Condensed'*/


html, body {width:100%; margin:0; padding:0;}

body {background-color:#ffffff; position:relative; min-width:320px;}

body, th, td, p, input, button, textarea, select, div, xmp {font-family:'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif; color:#808080; line-height:100%;}

img {border:none;}

a, input, textarea, select {outline:none; -webkit-appearance: none; -moz-appearance: none; border-radius:0;}

dfn {display:none;}

ul, ol, dl {padding:0; margin:0;}
li, dt, dd {padding:0; margin:0; list-style:none;}
li         {float:left;}

div, p, span, input, select, textarea, a, ul, li, dd, dt, dl { 
	box-sizing: border-box !important; 
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
}


select {-webkit-appearance: none; -moz-appearance:none; appearance:none;}
select::-ms-expand { display:none; }



input[type=checkbox] {appearance:none; -moz-appearance:none; -webkit-appearance:none;/*checkbox*/; width:27px; height:27px; padding:0; margin:0; display:inline-block; display:inline-block; vertical-align:middle; border-radius:3px; border:1px solid #000000; background-color:#ffffff; width:27px; height:27px;} 
input[type=checkbox]:checked {background-image:url(Images/check_27.png); background-repeat:no-repeat; background-size:27px 27px; background-position:center;}

input[type=radio] {appearance:none; -moz-appearance:none; -webkit-appearance:none;/*radio*/; width:27px; height:27px; padding:0; margin:0; display:inline-block; display:inline-block; vertical-align:middle; border-radius:50%; border:2px solid #000000; background-color:#ffffff; width:27px; height:27px;font-size:10px} 
input[type=radio]:checked  {background-image:url(Images/radio_27.png); background-repeat:no-repeat; background-size:27px 27px; background-position:center;}

input[type=checkbox]::-ms-check {border-radius:3px; border-color:#000000;} 
input[type=checkbox]:checked::-ms-check {padding:25%;} 

input[type=radio]::-ms-check {border-radius:50%; border-color:#000000;} 
input[type=radio]:checked::-ms-check {padding:1px;} 




.btn_top {display:none; position: fixed; bottom: 4.3rem; right: 0.9375rem; width: 2.25rem; height: 2.25rem; z-index: 998;}
.btn_top img {width:100%;}



.clear     { display:block; clear:both; }
.clearflt:after {content:".";visibility:hidden;display:block;height:0;clear:both;}
.none      { display:none !important; }
.hidden    { visibility:hidden; }

.lt { text-align:left !important;   }
.rt { text-align:right !important;  }
.ct { text-align:center !important; }

.fl { float:left; }
.fr { float:right; }

a:link, a:visited, a:active, a:hover { text-decoration:none; color:#808080; }
a:hover                              { }
a.privacy {/*font-weight:bold;*/color:#3a4b59;}

input[type=button]{cursor:pointer;}

.grade1 { color:#88d0cc !important;}
.grade2 { color:#da6ca8 !important;}
.grade3 { color:#66afdf !important;}
.grade4 { color:#fad668 !important;}
.grade5 { color:#bbbcbe !important;}

.tableDiv {display:table; width:100%;}
.tableDiv dl {display: table-row;}
.tableDiv dt {display: table-cell; vertical-align:top; position:relative;}
.tableDiv dd {display: table-cell; vertical-align:top; position:relative;}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ common header and footer ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

body { padding-top: 250px; } 
header { position: fixed; top: 0; left: 0;transition: top 0.2s ease-in-out; border-bottom:1px solid #e4e4e4; width:100%;height:250px; z-index:999; background-color:#ffffff; opacity:1;text-align:center;}

input[type=text]#countCart {position:relative;top:-30px;left:-20px;text-align:center;color:white;width:25px;height:25px;font-size:5px;padding: 0;margin: 0; line-height: 1px;background-color: violet;border-radius: 50px;}


#CommonHeader {min-width:1200px;width:100%;display:block;text-align:center;}

#CommonHeader a.MainLogo {display:block;width:260px; margin:auto auto;}
#CommonHeader a.MainLogo img {width:260px;}

#CommonHeader a.MainLogoScroll {width:180px; margin:0 auto; display:none;}
#CommonHeader a.MainLogoScroll img {width:140px;}

#CommonHeader .CategoryLarge {display:inline-block;width:100%;height:50px;}
#CommonHeader .CategoryLarge ul.nav {float:left;height:40px; margin:35px 0px 10px 10px;display:table;}
#CommonHeader .CategoryLarge li.CategoryMiddle {display:inline-block;margin:15px 35px 0 0;}
#CommonHeader .CategoryLarge li.CategoryMiddle a {width:30px;height:30px;font-size:20px; color:#000000;}
#CommonHeader .CategoryLarge li.CategoryMiddle.selected:before {position:absolute;bottom:40px;margin-left:3px;content:url("../../../Images/Ver1/Common/top_nav.png");}

#CommonHeader .CategoryLarge li.tab {display:table-cell;width:50px;margin:15px 35px 0 0}

#CommonHeader .CategoryLarge ul.rtMenu {float:right;height:40px; margin:30px 60px 10px 10px;display:table;}

#CommonHeader .CategoryLarge li.Search {display:table-cell; width:250px; height:40px; border-bottom:2px solid #787878; margin:5px 10px 5px 10px;}
#CommonHeader .CategoryLarge li.Search .CommonSearch input#kwd {display:inline-block; background-color:transparent; border:0; padding:0; margin:0; width:200px; height:35px; line-height:35px; vertical-align:top; font-size:16px; color:#000000;}
#CommonHeader .CategoryLarge li.Search .CommonSearch a {display:inline-block; width:40px; height:35px; vertical-align:top;}
#CommonHeader .CategoryLarge li.Search .CommonSearch img {width:40px; height:35px;}

#CommonHeader .CategoryLarge li.Cart   {display:table-cell;float:right; margin:5px 20px 0 1px;}
#CommonHeader .CategoryLarge li.Cart a {width:50px; height:50px; position:relative;}
#CommonHeader .CategoryLarge li.Cart img {width:43px; height:43px;}
#CommonHeaderArea {display:none;height:350px;}


#CommonFooter {display:block; border-top:1px solid #e4e4e4; padding:23px 0 42px;}
#CommonFooter .FooterMenu {height:30px;}
#CommonFooter .FooterMenu ul {display:block; height:30px; width:1200px; margin:0 auto;}

#CommonFooter .FooterMenu li.FooterLink {height:30px; line-height:30px; margin:0 24px 0 0;}
#CommonFooter .FooterMenu li.FooterLink a {font-size:14px;}

#CommonFooter .FooterMenu li.Instagram {float:right; margin:0 12px 0 0;}
#CommonFooter .FooterMenu li.Instagram a {display:block; width:30px; height:30px;}
#CommonFooter .FooterMenu li.Instagram img {width:30px; height:30px;}
#CommonFooter .FooterMenu li.Facebook {float:right; margin:0 12px 0 0;}
#CommonFooter .FooterMenu li.Facebook a {display:block; width:30px; height:30px;}
#CommonFooter .FooterMenu li.Facebook img {width:30px; height:30px;}
#CommonFooter .FooterMenu li.Youtube {float:right; margin:0 12px 0 0;}
#CommonFooter .FooterMenu li.Youtube a {display:block; width:30px; height:30px;}
#CommonFooter .FooterMenu li.Youtube img {width:30px; height:30px;}

#CommonFooter .FooterMenu li.FamilySite {float:right; margin:0; width:150px;}
#CommonFooter .FooterMenu li.FamilySite select {display:block; border:1px solid #838383; width:150px; height:30px; padding:0 9px; font-size:14px; background-color:#ffffff; background-image:url(../Images/Ver1/Common/select_bg.png); background-repeat:no-repeat; background-size:36px 9px; background-position:center right;}

#CommonFooter .FooterInfo {padding-top:39px;}
#CommonFooter .FooterInfo ul {display:block; width:1200px; margin:0 auto;}

#CommonFooter .FooterInfo li.CallCenter {width:330px; font-size:13px; line-height:13px;}
#CommonFooter .FooterInfo li.CallCenter b.string {display:block; font-weight:normal; font-size:24px; line-height:24px; color:#000000; padding-bottom:5px;}
#CommonFooter .FooterInfo li.CallCenter b.number {display:block; font-family:'Saira Condensed'; font-size:37px; line-height:37px; color:#000000; padding-bottom:10px;}
#CommonFooter .FooterInfo li.CallCenter small {display:block; font-size:12px; color:#3a4b59; line-height:12px; padding-top:10px;}

#CommonFooter .FooterInfo li.TwoButton {width:290px;}
#CommonFooter .FooterInfo li.TwoButton a {display:inline-block; width:115px; height:115px; border:3px solid #cecece; margin:0 7px 0 0; font-size:13px; line-height:13px; text-align:center; border-radius:8px;}
#CommonFooter .FooterInfo li.TwoButton img {display:block; margin:20px auto 5px; width:50px; height:50px;}

#CommonFooter .FooterInfo li.Information {width:580px; font-size:12px; line-height:20px;}
#CommonFooter .FooterInfo li.Information big {font-size:16px;}
#CommonFooter .FooterInfo li.Information a.BizInfo {display:block; width:100px; height:24px; line-height:22px; border:1px solid #787878; border-radius:3px; text-align:center; margin:5px 0;}


.footer_family { display:block; margin:0.9375rem auto; border:1px solid #afafaf; width:50%;}
.footer_family select { border:0; width:100%; background:transparent url(../images/ver1/common/family_select_arrow.png) no-repeat right 0.9375rem center; 
					    background-size:0.71875rem auto; font-size:0.9375rem; line-height:2.1875rem; padding:0 0.9375rem; color:#616161; }

.paging_pc { display:block; }
.paging_mobile { display:none; }
.paging { padding:30px 0; text-align:center; }
.paging .box { display:inline-block; }
.paging .box:after { display:block; content:" "; clear:both; }
.btn_pageprev, .btn_pagenext { display:block; float:left; width:35px; height:35px; margin:0 10px; }
.btn_pageprev.opacity, .btn_pagenext.opacity { opacity:0.3; }
.btn_pageprev a, .btn_pagenext a { display:block; width:35px; height:35px;  }
.btn_pageprev img, .btn_pagenext img { width:35px; height:35px; }

.txt_pagenum   { display:block; float:left;  }
.txt_pagenum a { display:block; line-height:35px; padding:0 15px; }
.btn_pageon  { color:#df2e38 !important;font-size:16px; }
.btn_pageoff { color:#000000 !important;font-size:16px; }



/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ stamp ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
div.stampicongroup     {height:13px; line-height:13px;}
span.stampicon         {display:inline-block; margin:0 2px; background-repeat:no-repeat;}
span.stampicon.coupon  {width:42px; height:13px; background-size:42px 13px; background-image:url(../Images/Ver1/Common/Stamp/coupon.png);}
span.stampicon.free    {width:48px; height:13px; background-size:48px 13px; background-image:url(../Images/Ver1/Common/Stamp/free.png);}
span.stampicon.gift    {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/gift.png);}
span.stampicon.new     {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/new.png);}
span.stampicon.only    {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/only.png);}
span.stampicon.plus    {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/plus.png);}
span.stampicon.reinto  {width:36px; height:13px; background-size:36px 13px; background-image:url(../Images/Ver1/Common/Stamp/reinto.png);}
span.stampicon.sale    {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/sale.png);}
span.stampicon.soldout {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/soldout.png);}
span.stampicon.y2018   {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/y2018.png);}
span.stampicon.y2019   {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/y2019.png);}
span.stampicon.y2020   {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/y2020.png);}
span.stampicon.y2021   {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/y2021.png);}
span.stampicon.y2022   {width:30px; height:13px; background-size:30px 13px; background-image:url(../Images/Ver1/Common/Stamp/y2022.png);}

#mymenu{
	text-align: right;
	padding: 10px 0px 0px 30px;
	font-size: 17px;
	margin-bottom: 20px;
}	

.count{ 
	font-size:16px; 
	color:#646464; 
	line-height:23px; 
}

.count strong { 
	font-size:20px; 
	color:#000000; 
	line-height:23px; 
}

.showAll{
	text-align: center;
	margin-bottom: 30px;
}

.showAll a{
	border: 1px solid;
	border-radius:20px;
	padding: 5px 10px;
}

.searchSeller{
	display: inline;
	border: 1px solid;
	border-radius:20px;
	padding: 5px 10px;
	margin: 0 10px;
}

.categories{
	margin: 40px 0 0 20px;
	font-size: 20px;
}

.searchShop{
	text-align: center;
}

.admin{
	float: right;
	margin: 7px 20px 0 0;
	border: 1px solid;
	border-radius: 20px;
	padding: 10px;
}

.writeBtn{
	float: right;
	border: 1px solid;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
	margin-right: 30px;
}

li.logInfo {float:right;margin:0 0;}
li.logInfo.lt {margin-right:20px}
li.logInfo.lt a:before {content:"|";margin:0 7px 0 10px }
ul.personal{
	float: right;
}

#sub{
	transform:translateX(+15%); 
	white-space: nowrap;
	width: 120px;
	display: none;
	margin-top: 7px;
}

#upper:HOVER>#sub{
	display: block;
}

#sub li{
	text-align: center !important;
	border: 1px solid;
	width: 120px;
	margin: 2px 0;
	padding: 3px 10px;
	border-radius: 20px;
}

