@charset "utf-8";
/* PIONNET Web Standardization Team (//www.pionnet.co.kr/) 20200713 */

/* common */
.fxdRight{top:953px;}
.topBn .fxdRight{top:1043px;}
.mnBx{overflow:hidden;position:relative;width:1280px;margin:0 auto;}
.mnBx .goods_list.n4.slide + .swiperCtr a{top:200px;margin-top:0;}
.mnTitle{display:block;padding-bottom:40px;font-weight:700;font-size:40px;line-height:44px;text-align:center;font-family:'NanumSquare';}
.content{padding-bottom:50px;}

/* TOP_SLIDER */
.topMainBnWrap{width:100%;height:712px;}
.topMainBnWrap .bgBx{width:100%;height:500px;margin-top:-712px;transition:background 0.4s ease;}
.topMainBn{overflow:hidden;z-index:2;height:712px;width:100%;max-width:3660px;padding-top:50px;margin:0 auto;box-sizing:border-box;}
.topMainBn .wrp{position:relative;width:1280px;height:662px;margin:0 auto;}
.topMainBn li{width:1140px !important;padding:0 40px;}
.topMainBn li a{overflow:hidden;position:relative;width:1140px;height:590px;border-radius:100px;transform:scale(0.95);transition:all 0.4s ease;}
.topMainBn .bnr a:hover{cursor:default;}
.topMainBn .img{display:block;overflow:hidden;position:relative;}
.topMainBn .img:after{content:'';display:block;position:absolute;left:0;top:0;z-index:3;width:100%;height:100%;background:rgba(0,0,0,0.3);transition:opacity 0.3s ease;}
.topMainBn .img img{width:100%;height:auto;transform:scale(1);transition:all 0.3s ease;}
.topMainBn .txt{position:absolute;bottom:170px;left:118px;z-index:3;width:470px;transform:translateY(30px);opacity:0;transition:all 0.4s ease;transition-delay:0.5s;}
.topMainBn .txt span{display:block;}
.topMainBn .txt span b{display:block;font-weight:700;font-size:52px;line-height:66px;font-family:'NanumSquare';}
.topMainBn .txt em{display:block;margin-top:46px;font-weight:400;font-size:24px;line-height:26px;font-family:'NanumSquare';}
.topMainBn .pg a{transform:scale(1);}
.topMainBn .pg .txt{transform:translateY(0);opacity:1;}
.topMainBn .pg .img:after{opacity:0;}
.topMainBn .bnr .pg a:hover{cursor:pointer;}
.topMainBn .bnr .pg a:hover .img img{transform:scale(1.05);}
.topMainBn .swiperCtr a{top:263px;z-index:3;width:64px;height:64px;margin-top:0;background:url("../images/main/ico_main.png") no-repeat 0 0;}
.topMainBn .swiperCtr .prev{left:0;:-440px;background-position:0 0;}
.topMainBn .swiperCtr .next{right:0;background-position:-64px 0;}
.topMainBn .swiperUtl{position:absolute;left:50%;bottom:0;transform:translateX(-50%);}
.topMainBn .swiperUtl .swiperPg{overflow:hidden;float:left;position:relative;padding-top:15px;}
.topMainBn .swiperUtl .swiperPg a{float:left;width:10px;height:10px;border-radius:100%;background:#E1E1E4;box-sizing:border-box;}
.topMainBn .swiperUtl .swiperPg a + a{margin-left:6px;}
.topMainBn .swiperUtl .swiperPg .swiper-active-switch{background:none;border:#F50303 2px solid;}
.topMainBn .swiperUtl .auto{float:left;margin-left:20px;}
.topMainBn .swiperUtl .auto a{position:relative;width:40px;height:40px;border:#e5e5e5 1px solid;border-radius:100%;}
.topMainBn .swiperUtl .auto a:after{content:'';display:block;position:absolute;left:50%;top:50%;width:20px;height:20px;background:url("../images/main/ico_main.png") no-repeat -128px 0;transform:translate(-50%, -50%);}
.topMainBn .swiperUtl .auto .stop:after{background-position:-128px 0;}
.topMainBn .swiperUtl .auto .play:after{background-position:-128px -20px;}
.topMainBn .swiperUtl .auto .play{display:none;}
.topMainBn .bnr li + li{display:none;}
.topMainBn .bnr.ready li + li{display:block;}

/* evt_banner */
.evtBn0{overflow:hidden;margin:50px auto 0;text-align:center;}
.evtBn0 ul{display:inline-block;vertical-align:top;}
.evtBn0 li{overflow:hidden;float:left;width:520px;height:140px;}
.evtBn0 li + li{margin-left:20px;}
.evtBn0 li:only-child{width:1140px;}
.evtBn0 li:first-child:nth-last-child(2){width:520px;}
.evtBn0 li:first-child:nth-last-child(2) ~ li{width:520px;}

/* mainDeal */
.dpDeal{margin-top:76px;}
.dpDeal h3{display:block;padding-bottom:40px;text-align:center;}
.dpDeal h3 span{display:inline-block;width:304px;height:48px;background:url("../images/main/ico_main.png") no-repeat 0 -72px;vertical-align:top;}
.dpDeal ul{overflow:hidden;}
.dpDeal ul + ul{margin-top:70px;}
.dpDeal li{float:left;width:620px;}
.dpDeal li + li{margin-left:40px;}
.dpDeal li span{display:block;overflow:hidden;position:relative;}
.dpDeal .img{width:620px;height:372px;border-radius:20px;}
.dpDeal .img img{width:100%;height:auto;transform:inherit;transition:all 0.3s ease;}
.dpDeal .dealTm{position:absolute;left:20px;bottom:20px;z-index:2;height:36px;padding:0 14px;border-radius:36px;background:#F50303;}
.dpDeal .tmCount{display:block;position:relative;padding-left:29px;color:#fff;font-size:15px;line-height:36px;} 
.dpDeal .tmCount:after{content:'';display:block;position:absolute;left:0;top:6px;width:25px;height:25px;background:url("../images/main/ico_main.png") no-repeat -148px 0;}
.dpDeal .info{position:relative;padding:24px 200px 11px 20px;}
.dpDeal .info .tit{overflow:hidden;height:40px;margin-top:10px;font-size:30px;line-height:40px;white-space:nowrap;text-overflow:ellipsis;}
.dpDeal .info .sub{height:22px;margin-top:19px;color:#767676;font-size:18px;line-height:22px;white-space:nowrap;text-overflow:ellipsis;}
.dpDeal .info .gdCost{position:absolute;right:0;bottom:0;margin-top:0;}
.dpDeal .info .gdCost .rm{float:right;height:40px;margin-right:10px;font-weight:400;font-size:30px;line-height:40px;}
.dpDeal .info .gdCost .rm b{font-weight:400;}
.dpDeal .info .gdCost .prm{float:right;height:40px;font-size:18px;line-height:44px;}

.dpDeal .info .gdCost .prc{clear:both;float:right;font-size:20px;line-height:49px;}
.dpDeal .info .gdCost .prc b{margin-right:4px;font-size:36px;line-height:48px;}
.dpDeal a:hover .img  img{transform:scale(1.05);}
.dpDeal .n1 li{overflow:hidden;float:none;position:relative;width:100%;border-radius:16px;background:#F1F1F5;}
.dpDeal .n1 .img{float:left;position:inherit;border-radius:0;}
.dpDeal .n1 .info{float:left;width:660px;height:372px;padding:70px 60px 0 60px;box-sizing:border-box;}
.dpDeal .n1 .info .gdCost{right:auto;left:60px;bottom:71px;text-align:left;}
.dpDeal .n1 .info .gdCost .rm{float:left;}
.dpDeal .n1 .info .gdCost .prm{float:left;}
.dpDeal .n1 .info .gdCost .prc{float:left;}
.dpDeal .n1 .info .tit{height:60px;font-weight:700;font-size:40px;line-height:60px;}
.dpDeal .n1 .info .sub{height:32px;margin-top:2px;font-size:22px;line-height:32px;}

.dpDeal .bnr{width:1320px;height:491px;}
.dpDeal .bnr.ready li{margin:0;}
.dpDeal .bnr.ready li a{width:620px;}
.dpDeal .swiperCtr.bxk a{top:248px;margin-top:0;}

/* dp_box */
.dpSpPrc{margin-top:120px;}
.prmMini{margin-top:120px;}

/* prmRcm */
.prmRcm{overflow:hidden;width:100%;padding:90px 0 120px;margin-top:120px;background:#F1F1F5;}
.prmRcm .planLst.slide{overflow:hidden;width:1320px;height:644px;}
.prmRcm .planLst.slide ul{margin:0;}
.prmRcm .planLst.slide li{width:660px;margin:0;}
.prmRcm .planLst.slide li > a{position:relative;width:620px;}
.prmRcm .planLst.slide .gds{width:620px;}
.prmRcm .swiperCtr.bxk a{top:145px;margin-top:0;}

/* mdPick */
.mdPick{margin-top:120px;}
.mdPick ul{margin:-50px 0 0 -40px;}
.mdPick li{float:left;margin:50px 0 0 40px;}
.mdPick a{overflow:hidden;width:224px;height:358px;border-radius:16px;background:#f1f1f6;}
.mdPick span{display:block;overflow:hidden;position:relative;}
.mdPick .img:after{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(18,18,99,0.06);}
.mdPick .img img{width:100%;height:auto;transform:inherit;transition:all 0.3s ease;}
.mdPick a:hover .img  img{transform:scale(1.06);}
.mdPick .txt{height:48px;padding:24px 16px 0;font-size:18px;line-height:24px;display:-webkit-box !important;display:box !important;text-overflow:ellipsis;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;box-orient:vertical;}
.mdPick .gdCost{display:inline-block;padding:12px 16px 0;margin-top:0;vertical-align:top;}
.mdPick .gdCost .rm{margin-right:10px;font-family:'Roboto';font-size:22px;line-height:30px;font-weight:400;}
.mdPick .gdCost .rm b{font-weight:400;vertical-align:top;}
.mdPick .gdCost .prc{clear:none;float:left;font-size:14px;line-height:30px;}
.mdPick .gdCost .prc b{font-size:22px;vertical-align:top;}

/* funIdea */
.funIdea .swiperCtr.bxk a{top:234px;margin-top:0;}
.funIdeaBn{overflow:hidden;height:496px;}
.funIdeaBn ul{width:1320px;margin-left:-40px;}
.funIdeaBn li{float:left;width:330px;margin-left:40px;}
.funIdeaBn a{overflow:hidden;width:290px;}
.funIdeaBn span{display:block;overflow:hidden;position:relative;}
.funIdeaBn .img{width:290px;height:360px;border-radius:16px;}
.funIdeaBn .img:after{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(18,18,99,0.06);}
.funIdeaBn .img img{width:100%;height:auto;transform:inherit;transition:all 0.3s ease;}
.funIdeaBn a:hover .img  img{transform:scale(1.06);}
.funIdeaBn .txt{margin-top:32px;text-align:center;}
.funIdeaBn .txt strong, .funIdeaBn .txt em{display:block;overflow:hidden;}
.funIdeaBn .txt strong{overflow:hidden;height:72px;font-weight:400;font-size:26px;line-height:36px;display:-webkit-box !important;display:box !important;text-overflow:ellipsis;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;box-orient:vertical;;}
.funIdeaBn .txt em{margin-top:12px;font-size:15px;line-height:22px;white-space:nowrap;text-overflow:ellipsis;}

.funIdeaBn.slide{width:1320px;}
.funIdeaBn.slide ul, .funIdeaBn.slide li{margin:0;}
