@CHARSET "UTF-8";

h1{
	text-align: center;
	margin-top: 50px;
}

h3{
	text-align: center;
	margin-top: 30px;
}

h3 a{
	color: lightcoral !important;
}

#orderTable{
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

#orderTable input{
	float: right;
}

#orderTable div{
	font-size: 20px;
}

#orderTable td{
	border-bottom: 1px dotted;
	line-height: 180%;
	padding: 20px 0;
}

#orderNum{
	width: 100px;
}

#order{
	width: 400px;
}

#orderDate{
	width: 250px;
}

#num{
	border: 1px solid none;
	background-color: aliceblue;
	border-radius: 20px;
	padding: 10px;
}

#list{
	border: 1px solid none;
	background-color: aliceblue;
	border-radius: 20px;
	padding: 10px;
}

#date{
	border: 1px solid none;
	background-color: aliceblue;
	border-radius: 20px;
	padding: 10px;
}

.order{
	width: 300px;
	text-align: left;
	padding-left: 30px;
}

.btn{
	width: 100px;
}

#noOrder{
	font-size: 20px;
	margin-top: 50px;
}

#detailTable{
	margin: 50px auto;
	text-align: center;
	padding: 10px;
}

#detailTable td{
	padding: 20px 10px;
	border-radius:30px;
	line-height: 30px;
}

.th{
	background-color: aliceblue;
}

.listBtn {
	display:block; 
	width:310px; 
	height:56px; 
	line-height:56px; 
	font-size:22px; 
	color:#ffffff !important; 
	background-color:#000000; 
	font-weight:bold; 
	text-align:center; 
	border:0; 
	border-radius:5px; 
	margin:50px auto;
}

.detailBtn {
	width:80px; 
	height:40px; 
	font-size:15px; 
	color:black; 
	background-color:aliceblue; 
	text-align:center; 
	border:0; 
	border-radius:20px; 
	margin:50px auto;
}

td a{
	text-decoration: underline !important;
	font-style: italic;
}