@CHARSET "UTF-8";

strong{
	font-size: 1.3em;
}

.payment{
	width: 1050px;
	margin: 0 auto;
	margin-top: 50px;
}

.address{
	margin-left: 30px;
}

.cpnum{
	width: 100px !important;
	height: 40px !important;
}

#name{
	width: 200px !important;
	height: 40px !important;
	margin-right: 50px;
}

#postcode{
	width: 200px !important;
	height: 40px !important;
	margin-bottom: 10px;
	margin-right: 30px;
}

#addrBtn{
	border: 1px solid;
	border-radius: 20px;
	padding: 5px 10px;
}

.addr{
	width: 592px !important;
	height: 40px !important;
}

#addr1{
	margin-bottom: 10px;
}

.items{
	margin-left: 30px;
}

.items img{
	width: 150px;
	height: 150px;
	float: left;
}

#item{
	display: inline-block;
	float: left;
	line-height: 25px;
	margin-top: 40px;
	margin-left: 20px;
}

#price{
	display: inline-block;
	float: right;
	margin-top: 65px;
	margin-right: 70px;
	text-align: right;
}

.total{
	float: right;
	margin: 70px 10px 10px 0;
	text-align: right;
	line-height: 30px;
}

#totalPrice{
	font-size: 20px;
}

.method{
	margin-left: 30px;
}

.method input[type=radio]{
	width: 20px;
	height: 20px;
}

.payment{
	margin-bottom: 30px;
}

.payBtn {
	display:block; 
	width:310px; 
	height:56px; 
	line-height:56px; 
	font-size:22px; 
	color:#ffffff !important; 
	background-color:#000000; 
	font-weight:bold; 
	text-align:center; 
	border:0; 
	border-radius:5px; 
	margin:50px auto;
}

.email{
	margin: 10px 0 50px 30px !important;
	display: inline-block;
}

.email input[type=email]{
	width: 300px !important;
	height: 40px !important;
	color: #777777;
    font-size: 15px;
    border: 0;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 0 22px;
    margin: 0;
    line-height: 56px;
}

.success{
	margin: 50px 0;
	text-align: center;
	display: block;
	font-size: 20px;
}

.success b{
	color: skyblue;
}

.itemInfo{
	margin: 20px auto;
	width: 500px;
	border: 1px solid;
	border-radius: 20px;
	display: inline-block;
}

.itemInfo img{
	width: 100px;
	height: 100px;
	float: left;
	margin: 20px;
	border: 1px solid none;
	border-radius: 20px;
}

#content{
	margin-top: 40px;
	margin-right: 20px;
	float: right;
	text-align: right;
}

.point{
	margin: 20px 0 0 30px;
}

#insertPoint{
	margin-left: 40px;
}

#gainPoint{
	color: blue;
}

.pointBtn{
	width:70px;
	height:30px; 
	font-size:15px; 
	color:#ffffff; 
	background-color:slategray; 
	text-align:center; 
	border:0; 
	border-radius:5px; 
	margin-left: 10px;
}