@charset "UTF-8";


form.cart{display:inline-block;color:black;width:100%;height:100%;margin-left:70px; margin-top:30px; margin-bottom:30px;}
input[name=totalPrice]{background-color:white;margin:15px 10px 15px 0;color:black;width: 200px;height:30px;text-align:right;font-size:20px;padding:1px 1px}
.selTotalPrice {float:right;background-color:white;margin:10px 70px 1px 0;color:black;width: 400px;height:30px;text-align:right;font-size:20px;padding:1px 1px}
.cartTotal {position:relative;background-color:white;margin:0 0 0 473px;color: #808080;width: 300px;height:20px;text-align:right;font-size:13px;padding:1px 0}
.cartTotal:before {margin-right:20px;display:inline-block;content: "( 장바구니 전채 금액";font-size: 11px;color: #808080;}
.cartTotal:after {margin-left:3px;display:inline-block;content:"원 )";font-size:11px;color: #808080;}


.selTotalPrice:before {margin-right:20px;display:inline-block;content: "선택 금액";font-size: 20px;color: #000000;}
.selTotalPrice:after {margin-left:3px;display:inline-block;content:"원";font-size:20px; }
span {margin:0 0 0 0;display:inline-block}
input[type=button]#delCart{float:right;border-radius:5px;background-color:#808080;color:white;font-size:18px;width:110px;height:27px;margin:0 48px 0 10px}
.line{display:inline-block;width:80%;margin-left:120px;border-bottom:1px;border-bottom-style:solid;border-bottom-color:#808080;}
.pdt {margin:0 8em;display: inline-block;width:70%;}

.imagePreview {display:inline-block;width:20%;}
.imagePreview img {display:block;width:170px;height:170px;}

.bottom, #checkAll, #selDelete, #selOrder {float:right;}
#checkAll{margin:10px 3px;}
#selDelete{border-color:white;border-radius:10px;background-color:#808080;color:white;font-size:12px;width:100px;height:27px;margin:10px 3px; margin-right:120px;}
#selOrder{border-color:red;border-radius:10px;background-color:red;color:white;font-size:12px;width:100px;height:27px;margin:10px 3px;}
.btnOrder{border-color:red;border-radius:5px;background-color:red;color:white;font-size:18px;width:150px;height:27px;margin-right:15px;}
.btnCart{border-color:white;border-radius:5px;background-color:white;color:#808080;font-size:12px;width:50px;height:27px;margin-right:5px;}
.btnDelCart{border-color:black;border-radius:5px;background-color:#808080;color:white;border-color:#808080;font-size:12px;width:50px;height:27px;margin-right:5px;}

.pdtInfo {display:inline-block;width:78%;padding: 0 0 0 180px;margin: 2px 0 0 0;text-align:right;}
.pdtInfo .productName {display:block;padding: 5px 5px;margin: 0 0 0 10px;font-size:18px; color:#000000; }
.pdtInfo .sellerName {display:block;padding: 5px 5px;margin: 0 0 0 10px;font-size:16px; color:#808080; }

.pdtInfo .pdtOrder .productPrice {display:block;padding: 5px 5px;margin: 0 0 0 10px;font-size:16px; color:#808080; }
.pdtInfo .pdtOrder .shipping_fee {display:block;padding: 5px 5px;margin: 0 0 0 10px;font-size:16px; color:#808080; }
.pdtInfo .pdtOrder .btnStockQty  {display:inline;padding: 3px 3px;margin: 0 3px 0 15px;font-size:13px; color:#000000; }
.pdtInfo .pdtOrder .Plus, .Minus {display:inline-block;width:20px; height:20px;padding: 3px 0;margin: 3px 0;font-size:12px; color:#000000;border-radius:50px;background-color:#ffffff; }

.pdtInfo input[type=tel]{background-color:white;margin: 0;padding: 0;border: 0;width: 45px;height: 13px;font-weight: bold;font-size: 15px;color: #000000;text-align: center;}

.pdtInfo .productName:before{color:black;font-size:16px;padding: 3px 40px;margin:0 195px 0 0;display:inline-block; content:" "; content:"상품명"; }
.pdtInfo .sellerName:before{color:#808080;font-size:14px;padding: 3px 40px;margin:0 200px 0 0;display:inline-block; content:" "; content:"판매자"; }
.pdtInfo .pdtOrder .productPrice:before{color:#808080;font-size:15px;padding: 3px 40px;margin:0 210px 0 0;display:inline-block; content:" "; content:"가격"; }
.pdtInfo .pdtOrder .shipping_fee:before {color:#808080;font-size:15px;margin:0 200px 0 0;padding: 3px 40px;display:inline-block; content:" "; content:"배송비"; }
.pdtInfo .pdtOrder .productPrice:after {color:#808080;font-size:15px;padding: 3px 3px;display:inline; content:" "; content:"원"; }
.pdtInfo .pdtOrder .shipping_fee:after {color:#808080;font-size:15px;padding: 3px 3px;display:inline; content:" "; content:"원"; }
.pdtInfo .pdtOrder .btnStockQty:before{color:#808080;font-size:15px;margin:0 140px 0 0px;padding: 3px 40px;display:inline-block; content:" "; content:"수량"; }


.pdtInfo .pdtOrder {display:inline;}
.pdtInfo .pdtOrder .totalPrice{display:block;background-color:white;}
.pdtInfo .pdtOrder .totalPrice:before {display: inline-block; content: " ";content: "총 결제 금액";top: 50%; font-size: 20px;color: #000000;line-height: 12px;}
