@CHARSET "utf-8";
table.type10 {
	width: 800px;
    border-collapse: collapse;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;

}
a{text-decoration: none; color: blue;}
.m1{width:25%; border-top-left-radius:15px;}
.m2, .m3{width:15%;}
.m4{width:30%;}
.m5{width:10%; border-top-right-radius:15px;}
h2{text-align: center;}
th {
	text-align:center;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #0080ff;
    margin: 20px 10px;
}td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    text-align : center;
}
tr:last-child{
	background-color : rgba(0,0,0,0.30);
}